.formControl {
    width: 100% !important;
    margin: 30px 0 !important;
  }

  .select{
      width: 30% !important; 
      margin: 0 auto !important;
  }

@media screen and (max-width: 425px){
    .select{
        width: 50% !important;
    }
}