.cardContainer{
    padding: 30px 0 !important;
    width: 100% !important;
}
.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5) !important ;
}
.recovered{
    border-bottom:10px solid rgba(0, 255, 0, 0.5) !important;
}

.deaths{
    border-bottom:10px solid rgba(255, 0, 0, 0.5) !important;
}

@media screen and (max-width: 768px){
    .cardContainer{
        padding: 0 !important;
    }
}

